<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find panda_simulation)/models:$(optenv GAZEBO_MODEL_PATH)" />
    <!-- new gripper_center link argument -->
    <arg name="gripper_center" default="true"/>

    <!-- GAZEBO arguments -->
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="load_gripper" default="true" />
    <arg name="config" default="base" />
    <arg name="joystick" default="false" />


    <include file="$(find ridgeback_description)/launch/description.launch">
        <arg name="config" value="$(arg config)" />
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />

    <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
            args="cmd_vel ridgeback_velocity_controller/cmd_vel" />

    <include file="$(find ridgeback_control)/launch/teleop.launch">
        <arg name="joystick" value="$(arg joystick)"/>
    </include>

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find robotics_assisted_tomography)/worlds/tomography.world"/> -->
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(find panda_simulation)/worlds/table_blocks.world"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x -0.00 -y 0.00 -z 0.00 -model panda_ridgeback" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find panda_simulation)/config/panda_control.yaml" command="load" />
    <rosparam file="$(find panda_simulation)/config/gazebo_ros_control_params.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller panda_arm_controller ridgeback_joint_publisher ridgeback_velocity_controller" />
    <node if="$(arg load_gripper)" name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_hand_controller" />


    <!-- convert joint states to TF transforms for rviz, etc -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /> -->

    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
        <arg name="gripper_center" value="$(arg gripper_center)"/>
    </include>
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="load_gripper" value="$(arg load_gripper)" />
        <arg name="gripper_center" value="$(arg gripper_center)"/>
    </include>
    <group if="$(arg gui)">
        <!-- <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" /> -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find panda_simulation)/config/jane_rviz.rviz" />
    </group>

    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

    <!-- launch robot control node for moveit motion planning -->
    <node pkg="panda_simulation" type="robot_control_node" name="robot_control_node" output="screen" />

    <!-- load (not start!) custom joint position controller -->
    <node pkg="controller_manager" type="spawner" name="joint_position_launcher" args="--stopped joint_position_controller" />

    <!-- run custom node for automatic intialization -->
    <node pkg="panda_simulation" type="robot_state_initializer_node" name="robot_state_initializer_node" />

    <!-- for web interface -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
    </include>

    <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />

</launch>
